@model ReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid reviewsDetailsBackground">
    <h1>
        @Html.DisplayFor(model => model.Title)
    </h1>

    <h4>
        "@Html.DisplayFor(model => model.Tagline)"
    </h4>

    <hr />

    <h5>
        @Html.DisplayFor(model => model.StarRating) Stars  |  By: @Html.DisplayFor(model => model.Author) on @Html.DisplayFor(model => model.PublishedDate) 
         |  @Html.DisplayFor(model => model.Category.CategoryName)
    </h5>

    <hr /><br />
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
