@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Tech Reviews";
}
<div class="container-fluid reviewsIndexBackground">
    <h1>Tech Reviews</h1>
    <h4>Please select a title below to view the full review.</h4>

    <p>
        @*Tried to get this to turn into a button but it stays as a link.  Check into this for long term*@
        @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary", role = "button" })
    </p>
    @*Basic thumbnail list format.  Look into categorization by category type in future*@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 reviewBox">
                <div class="thumbnail reviewThumb">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.Tagline)</h4>
                        <p>Author: @Html.DisplayFor(modelItem => item.Author)</p>
                        <p>Category: @Html.DisplayFor(modelItem => item.Category.CategoryName)</p>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
